@mixin h1-h6($grid-breakpoints: null) {
  @each $key, $value in $h1-h6 {
    .#{$key}#{$grid-breakpoints} {
      font-size: $value !important;
    }
  }
}

@mixin font-sizes($grid-breakpoints: null) {
  @each $key, $value in $font-sizes {
    @if ($grid-breakpoints==null) {
      .font-size-#{$key} {
        font-size: $value !important;
      }
    } @else {
      .font-size-#{$key}#{$grid-breakpoints} {
        font-size: $value !important;
      }
    }
  }
}

@mixin line-height($grid-breakpoints: null) {
  @each $key, $value in $line-height {
    @if ($grid-breakpoints==null) {
      .line-height-#{$key} {
        line-height: $value !important;
      }
    } @else {
      .line-height-#{$key}#{$grid-breakpoints} {
        line-height: $value !important;
      }
    }
  }
}

@include font-sizes();
@include line-height();

@include media-breakpoint-up(md) {
  @include h1-h6(-md);
  @include font-sizes(-md);
  @include line-height(-md);
}

@include media-breakpoint-up(lg) {
  @include h1-h6(-lg);
  @include font-sizes(-lg);
  @include line-height(-lg);
}
