body {
  overflow-x: hidden;
}

sup {
  font-size: 14px;
}

.material-icons {
  vertical-align: bottom;
}

.darker {
  filter: brightness(0.7);
}

.bg {
  &-center {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.img {
  &-cover {
    object-fit: cover;
    background-size: cover;
    background-position: center center;
  }
}

.hover {
  &-bg {
    &:hover {
      background-color: #dee2e6;
    }
  }
}
.fix {
  &-top {
    &-lg {
      @include media-breakpoint-up(lg) {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
      }
    }
  }
  &-left {
    &-lg {
      @include media-breakpoint-up(lg) {
        position: fixed;
        left: 6.64%;
        z-index: 100;
      }
    }
  }
}

.expandArrow {
  .material-icons {
    transition: 0.3s all ease;
  }
  &[aria-expanded='true'] {
    .material-icons {
      transform: rotate(-180deg);
    }
  }
  &[aria-expanded='false'] {
    .material-icons {
      transform: rotate(0);
    }
  }
}
