.logo {
  background: url('https://hexschool.github.io/webLayoutTraining1st/petpet-week8/logo.svg') center no-repeat;
  display: block;
  width: 121px;
  height: 55px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-size: contain;
}

.banner {
  &__bg {
    padding-top: 100%;
    width: 100%;
    @include media-breakpoint-up(md) {
      max-width: 27.34%;
      padding-top: 37.14%;
      margin-top: 104px;
      margin-bottom: 24px;
    }
    @include media-breakpoint-up(lg) {
      height: 100vh;
      max-width: 41.4%;
      left: -30px;
      margin: 0;
    }
    @include media-breakpoint-up(xl) {
      height: 100vh;
      max-width: 41.4%;
      left: -85px;
      margin: 0;
    }
  }
}

.card {
  &__avatar {
    margin: -50px auto 0;
    width: 100px;
    height: 100px;
  }
}

.reservation {
  &__item {
    min-height: 132px;
    @include media-breakpoint-up(md) {
      max-height: 350px;
    }
    &:hover {
      filter: brightness(1);
    }
  }
}

.topStore__img {
  height: 128px;
}

.service {
  &__item {
    width: 72px;
    height: 72px;
    @include media-breakpoint-up(md) {
      width: 128px;
      height: 128px;
    }
    &--select {
      color: $warning;
      border: 3px solid $secondary;
    }
  }
}

.store {
  &__img {
    width: 100px;
    height: 100px;
    @include media-breakpoint-up(md) {
      width: 150px;
      height: 150px;
    }
    @include media-breakpoint-up(lg) {
      width: 282px;
      height: 282px;
    }
  }
}
